
# ── Etablissement ──────────────────────────────────────
NOM_ETABLISSEMENT="Universite de Bamako"
ANNEE_ACADEMIQUE="2025/2026"
ANNEES_DISPONIBLES="2024/2025,2025/2026"
SEMESTRE_ACTIF=1

# ── Compte admin par defaut ────────────────────────────
ADMIN_ID=admin
ADMIN_PASSWORD=admin123
ADMIN_NAME="Administration Centrale"

# ── Base de données ────────────────────────────────────
DB_HOST=postgres
DB_PORT=5432
DB_NAME=unigest
DB_USER=unigest
DB_PASSWORD=unigest_secret

# ── API ────────────────────────────────────────────────
PORT=4000
JWT_SECRET=changer_ce_secret_jwt_en_production
NODE_ENV=production
